psycopg2-binary
sqlalchemy
pytest==4.5.0
pytest-xdist
requests
pyyaml
websocket-client
pyjwt >= 1.5.3
jsondiff
cryptography
graphene
ruamel.yaml > 0.15
graphql-core
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
